{% extends "base.html" %}



{% block title %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div id="product_id" style="display:none;">{{ product.id }}</div>
    <div id="weight" style="display:none;">{{ product.cast.weight }}</div>
    <div id="product_details_header">
        <h2>{{ product.title }}</h2>


        <div id="add_to_cart" class="button_top">
            <a href="#"><img src="/media/images/cart_add.png"  alt="В корзину"></a>
        </div>
        <div id="price_top">{{ product.get_price }} руб.</div>
    </div>
    <div id="product_images_container">
        <ul id="product_images" class="jcarousel-skin-tango">
            {% for product_image in product.images.all %}
                <li><img src="{{ product_image.image.url }}"></li>
            {% endfor %}
        </ul>
    </div>
    <div id="product_description">
        {{ qwe }}
        {{ product.description|safe }}
    </div>
    </div>
{% endblock %}